* {
  font-family: sans-serif;
}

.ace_editor, .ace_editor * {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

body {
  margin: 0;
  background-color: #FFF;
}

.main {
  width: 100%;

  color: white;
}

.note-view {
  width: 100%;
}

mark {
  background-color: #f5f2f0;
  color: #0d21a1;
  font-weight: bold;
}

.sidebar {
  float: left;
  width: 10%;
  background-color: #f5f2f0;
  position: sticky;
  top: 0;
}

.sidebar h3:hover {
  cursor: pointer;
  background-color: #f5f2f0;
}

.sidebar h3 {
  color: #fff;
}

.sidebar span {
  padding-right: 5px;
}

.sidebar button {
  width: 50%;
  font-weight: bold;
  padding: 5px;
  background-color: #f5f2f0;
}

.sidebar ul {
  list-style: none;
  background-color: #f5f2f0;
  text-align: left;
  padding: 10px;
}

.sidebar button {
  border: none;
  font-size: 20px;
  text-decoration: underline;
}

.sidebar button:first-child{
  border-right: 1px solid #2f3e46;
  border-radius: 5px 0px 0px 0px;
}

.sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #2f3e46;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

.sidebar ul li:hover {
  cursor: pointer;
  background-color: #2f3e46;
}

.sidebar a {
  text-decoration: none;
}

.note {
  width: 70%;
  margin: 20px auto;
  background-color: #f5f2f0;
  color: black;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .13);
}

.note input {
  width: 100%;
  margin-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  font-size:1em;
  font-weight: bold;
}

.note textarea {
  width: 100%;
  margin-top: 0px;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
  overflow: visible;
}

.note-box {
  background-color: #f5f2f0;
  padding: 10px 20px;
  padding-bottom: 0px;
}

.note h4 {
  padding: 10px;
  margin: 0;
  text-decoration: underline;
  background-color: #f5f2f0;
  border-radius: 5px 5px 0 0;
}

.note button {
  background-color: #464646;
  color: #FFF;
  padding: 5px 10px;
  border: 1px solid #f5f2f0;
  border-raduis: 3px;
  margin-top: 0px;
}

.new-note-box {
  width: 20%;
  margin: 0px auto 10px auto;
}

.new-note-box a {
  border: 1px solid #2f3e46;
  color: #FFF;
  background-color: #2f3e46;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  text-decoration: none;
}

.new-note-box a:hover {
  cursor: pointer;
  background-color: #f5f2f0;
  color: #000;
}

.active-button {
  background-color: #727072;
  color: #000;
}

.note-form {
  width: 80%;
  margin: 5px auto;
}

.note-input-group input {
  width: 100%;
  margin-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  font-size:1em;
  font-weight: bold;
}

.note-input-group textarea {
  width: 100%;
  height: 200px;
  margin-top: 0px;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
}

.form-buttons {
  float: right;
}

.form-buttons button {
  width: 80px;
  font-size: 15px;
}

.form-buttons button:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 221);
}

.form-buttons ul {
  list-style: none;
  background-color: rgb(221, 221, 221);
  color: black;
  padding: 0;
  font-size: 15px;
  margin: 0;
}
.form-buttons li {
  width: 80px;
}

.form-buttons li:hover{
  background-color: rgb(100, 100, 221);
  cursor: pointer;
}

.search-box input {
  width: 75%;
  height: 23px;
  padding: 1px;
  border: none;
}

.search-box button {
  width: 20%;
  height: 25px;
  padding: 0;
}

.search-box span {
  padding: 0;
}

.search-box {
  text-align: center;
  height: 20px;
  padding: 5px;
  display: flex;
}

.nav {
  background-color: #2f3e46;
}
