* {
  font-family: sans-serif;
}

.ace_editor, .ace_editor * {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}

body {
  margin: 0;
  background-color: #FFF;
}

.main {
  width: 100%;

  color: white;
}

.note-view {
  width: 100%;
}

mark {
  background-color: #f5f2f0;
  color: #0d21a1;
  font-weight: bold;
}

.sidebar-nav {
    top: 0;
    width: 220px;
    margin: 0;
    list-style: none;
    padding: 5px;
}

.sidebar-nav li {
    position: relative;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #E3E0DE;
    color: black;
}

#sidebar-wrapper button:hover {
  background-color: #E3E0DE;
}

#sidebar-wrapper {
    position: absolute;
    left: 0;
    width: 220px;
    height: 100%;
    background: #FFF!important;
    padding: 0px;
    align-content: flex-start;
    border: 1px solid #f5f2f0;
    box-shadow: 1px 1px 1px rgba(47, 62, 70, 0.2);
}

#sidebar-wrapper h3:hover {
  cursor: pointer;
  background-color: #f5f2f0;
}

#sidebar-wrapper h3 {
  color: black;
}

#sidebar-wrapper button {
  width: 50%;
  font-weight: bold;
  padding: 5px;
  background-color: #f5f2f0;
  border: none;
  font-size: 20px;
  text-decoration: underline;
}

#sidebar-wrapper button:first-child{
  border-right: 1px solid #E3E0DE;
}

#sidebar-wrapper ul li:hover {
  cursor: pointer;
  background-color: #f5f2f0;
}

#sidebar-wrapper a {
  text-decoration: none;
}

.note {
  width: 70%;
  margin: 25px auto;
  background-color: #f5f2f0;
  color: black;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.modal-content {
  margin-top: 200px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


.fade {
  opacity: 1;
}

.note input {
  width: 100%;
  margin-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  font-size:1em;
  font-weight: bold;
}

.note textarea {
  width: 100%;
  margin-top: 0px;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
  overflow: visible;
}

.ace_editor{
  height: 200px !important;
}

.note-box {
  background-color: #f5f2f0;
  padding: 10px 20px;
  padding-bottom: 0px;
}

.note h4 {
  padding: 10px;
  margin: 0;
  text-decoration: underline;
  background-color: #f5f2f0;
  border-radius: 5px 5px 0 0;
}

.note button {
  background-color: #2f3e46;
  color: #f5f2f0;
  padding: 5px 10px;
  border: 1px solid #2f3e46;
  border-radius: 3px;
  margin: 0px 5px 0 5px;
}

.new-note-box {
  width: 20%;
  margin-left: 15%;
  margin-top: 25px;
  display: inline-block;
}

.new-note-box a {
  color: #f5f2f0;
  background-color: #2f3e46;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  font-size: 18px;
}

.new-note-box a:hover {
  cursor: pointer;
  background-color: #414F56;
  color: #FFF;
}

.active-button {
  background-color: #FFF !important;
  color: #000;
}

.note-form {
  width: 80%;
  margin: 5px auto;
}

.note-input-group input {
  width: 100%;
  margin-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  font-size:1em;
  font-weight: bold;
}

.note-input-group textarea {
  width: 100%;
  margin-top: 0px;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
}

.form-buttons {
  float: right;
}

.form-buttons button {
  width: 80px;
  font-size: 15px;
}

.form-buttons button:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 221);
}

.form-buttons ul {
  list-style: none;
  background-color: rgb(221, 221, 221);
  color: black;
  padding: 0;
  font-size: 15px;
  margin: 0;
}
.form-buttons li {
  width: 80px;
}

.form-buttons li:hover{
  background-color: rgb(100, 100, 221);
  cursor: pointer;
}

.search-box input {
  width: 100%;
  padding: 5px;
  border: 1px solid #E3E0DE;
  border-radius: 3px 0 0 3px;
}

.search-box button {
  width: 20% !important;
  padding: 0 !important;
  border-radius: 0 3px 3px 0;
}

.search-box span {
  padding: 5px;
  text-align: center;
}

.search-box {
  text-align: center;
  height: 40px;
  padding: 5px;
  display: flex;
  background-color: #FFF;
  margin: 10px 0;
}

.navbar-dark {
  background-color: #2f3e46 !important;
  color: #f5f2f0 !important;
}
