* {
  font-family: sans-serif;
}


body {
  margin: 0;
  background-color: #FFF;
}

.new-note-box {
  width: 20%;
  margin-left: 40%;
  margin-top: 25px;
  grid-area: header;
  z-index: 0;
}

.new-note-box a {
  color: #f5f2f0;
  background-color: #2f3e46;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  font-size: 18px;
}

.new-note-box a:hover {
  cursor: pointer;
  background-color: #414F56;
  color: #FFF;
}

.active-button {
  background-color: #FFF !important;
  color: #000;
}

.navbar-dark {
  background-color: #2f3e46 !important;
  color: #f5f2f0 !important;
  grid-area: header;
}

.main {
  color: white;
  display: grid;
  grid-template-columns: 25vw 25vw 40vw 10vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
}
